extends layout

block content
  .page-header
    h3 FAQ
    br
    h4 How do I start a chat?
    p Just click 'New' up in the navigation.
    br
    h4 Can I delete my chats?
    p Yes, when you click the button they are completely destroyed.
    br
    br
    p ...soon more fun stuff.