extends layout

block content
  .row
    .col-lg-12
      h1.page-header
        | Welcome to chatrooms.
    .col-md-12
      .panel.panel-default
        .panel-heading
          h4
            i.fa.fa-fw.fa-flask
            | Beta Stage
        .panel-body
          p
            | Good news, you get your own chatroom.
            br
            | and when you delete them, they are gone.
  .row
    .col-md-4(style='text-align: center')
      h2 Browser Based
      br
      i.fa.fa-desktop.fa-5x
    .col-md-4(style='text-align: center')
      h2 Easy to Share
      br
      i.fa.fa-share-alt.fa-5x
    .col-md-4(style='text-align: center')
      h2 Disposable
      br
      i.fa.fa-trash.fa-5x
