extends layout

block content
  .page-header
    h3 User List

  if users
    ul
      for user in users
        if user.profile.name
          li
            h4= user.profile.name
            if avatar
              img(src=avatar)
              br
              br
            p= user.email
            if user.profile.website
              a(href=user.profile.website)= user.profile.website
          il
    ul
