extends layout

block content
  .page-header
    h3 User List

  if users
    ul
      for user in users
        if user.user.profile.name
          li
            h4= user.user.profile.name
            if user.avatar
              img(src=user.avatar)
              br
              br
            p= user.user.email
            if user.user.profile.website
              a(href=user.user.profile.website)= user.user.profile.website
          il
    ul
