extends layout

block content
  .page-header
    h3 User List

  if users
    ul
      for user in users
        if user.profile.name
          h4= user.profile.name
          p= user.email
          if user.profile.website
            a(href=user.profile.website)= user.profile.website
            br
            br
        pre=JSON.stringify(user, null, 2)
    ul
